
    body{
            margin: 0;
        }

    header{
        background-color: #2A3732;
        height: 50px;
        border-bottom:6px solid rgb(217, 200, 79);
    }

    footer{
        border-top: 5px solid #EFEFEF;
        background-color: #2A3732;
        height: 30px;
    }

    img{
        max-width:100px;
        max-height: 100px;
    }

/*----------------------------------IDs------------------------------*/

    #socialIcons a span{
        color:#fff;
    }
    #socialIcons a span:hover{
        color:#ec8c54;
    }

    #contactInf h6{
        color: #049DD0;
        font-family: sans-serif;
    }

         #contactInf h6 span{
            color: #111;
            font-family: sans-serif;
        }

    #about{
        margin-top:30px;
        margin-bottom: 30px;

    }

    #pdf , #coverLetter{
        color: white;
        text-decoration: none;
        text-align: center;
        background-color: #ec8c54;
    }

    #personalInf,#Portfolio,#education,#skills,#end{
         border-top: 5px solid #EFEFEF;
         margin-top:30px;
         margin-bottom: 30px;
         padding-top: 30px;
         padding-bottom: 30px;
    }

/*----------------------------------CLASSES------------------------------*/

    .media-body h4,h6,.title{
        font-family: 'Fjalla One', sans-serif;
    }

    .media-body h6, .companyName{
        color: #049DD0;
    }

    .jobTitle{
        color: #777;
        font-weight: 200;
        line-height: 10px;
    }

    .text{
        font-weight: 200;
    }

    .skillItems{
        color: #1d901d;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.18);
        font-weight: 500;
        cursor: pointer;
    }

        .skillItems:hover{
            color: #1d91d0;
            font-weight: 700;
        }
