

<div class="container-fluid"  style="background-color:#D94175;height:100vh;" ng-controller="ContactCtrl">
	<div class="row col-sm-12">
		<div class="text-left" style="margin-top:20px;color:#fff">
				<a class="transition"  href="#/" style="color:#fff">
					<i class="pull-leftt fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i>
				</a>
			</div>
	</div>
	<div class="row" style="padding-top:20%;color:#fff">

		<div class="col-sm-offset-1 col-sm-10">
			<div class="row text-center">
				<div class="col-xs-12 col-sm-4" style="margin-bottom:20px;">
					<i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
					<h6>11000 NE, Bellevue, WA.</h6>
				</div>
				<div class="col-xs-12 col-sm-4" style="margin-bottom:20px;">
					<i class="fa fa-phone-square fa-5x" aria-hidden="true"></i>
					<h6>(425) 598-5126</h6>
				</div>
				<div class="col-xs-12 col-sm-4" style="margin-bottom:20px;">
					<i class="fa fa-envelope-o fa-5x" aria-hidden="true"></i>
					<h6><a href="mailto:R.bazargan@gmail.com" style="color:#fff;text-decpration:none;">R.bazargan@gmail.com</a></h6>
				</div>
			</div>
		</div>
	</div>
</div>
