<div class="container" ng-controller="HomeCtrl">
	<div id="indexPadding" class="row col-md-offset-1 col-md-10" style="padding-top:100px;">
		<h5 class="" style="font-family: 'Poiret One', cursive;font-size:40px;font-weight:700;color:#fff">Raziyeh Bazargan</h5>
	</div>
	<div class="row col-md-offset-1">
		<div class="col-md-10">
			<div class="well" style="padding:5px;">
				<div class="text-right">
					<a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/raziyehbazargan" target="_blank">
						<span class="fa fa-linkedin fa-2x"></span>
					</a>
					<a class="btn btn-social-icon btn-github" href="https://github.com/Raziyehbazargan" target="_blank">
						<span class="fa fa-github fa-2x"></span>
					</a>
					<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/RaziyehBazargan" target="_blank">
						<span class="fa fa-twitter fa-2x"></span>
					</a>
					<a class="btn btn-social-icon btn-google" href="mailto:R.bazargan@gmail.com" target="_blank">
						<span class="fa fa-google fa-2x"></span>
					</a>
					<a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/razieh_bazargan/" target="_blank">
						<span class="fa fa-instagram fa-2x"></span>
					</a>
				</div>

			</div>
		</div>
		<div class="col-md-4">
			<div class="row" style="margin-bottom:25px;">
				<div class="col-xs-6 col-md-6">
					<div class="text-center menu" style="background-color:#50b28a;color:#fff;height:135px;">
						<a href="#/home">
							<i class="fa fa-home fa-5x" aria-hidden="true" style="color:#fff;margin-top:25px;">
								<span>
									<p style="font-size:18px;color:#fff;line-height:15px;">Home</p>
								</span>
							</i>
						</a>
					</div>
				</div>
				<div class="col-xs-6 col-md-6"  style="margin-bottom:25px;">
						<div class="text-center menu" style="background-color:#d9912a;color:#fff;height:135px;">
						<a class="" href="#/about">
						  <i class="fa fa-female fa-5x" aria-hidden="true" style="color:#fff;margin-top:25px;">
							<span>
								<p style="font-size:18px;color:#fff;line-height:15px;">About Me</p>
							</span>
						  </i>
						</a>
					</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="text-center menu" style="background-color:#c85141;height:135px;">
						<a href="files/Raziyeh_bazargan_CV.pdf">
							<i class="fa fa-cloud-download fa-5x" aria-hidden="true" style="color:#fff;margin-top:25px;">
								<span>
									<p style="font-size:18px;color:#fff;line-height:15px;">Resume</p>
								</span>
							</i>
						</a>
					</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="text-center menu" style="background-color:#D94175;height:135px;">
						<a href="#/contact">
							<i class="fa fa-envelope-o fa-5x" aria-hidden="true" style="color:#fff;margin-top:25px;">
								<span>
									<p style="font-size:18px;color:#fff;line-height:15px;">Contact</p>
								</span>
							</i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div id="image" class="text-center menu" style="background-color:#16A0D0;color:#fff;height:300px;">
				<a class="transition" href="#/projects">
					<i class="fa fa-tasks fa-5x" aria-hidden="true"  style="color:#fff;margin-top:75px;">
						<span>
							<p style="font-size:18px;color:#fff;line-height:15px;">Projects</p>
						</span>
					</i>
				</a>
			</div>
		</div>
	</div>
	<div class="row col-md-offset-1">
		<div class="col-md-10" >
			<div class="well well-lg" style="border-radius:0;">
			</div>
		</div>
	</div>
</div>
