

<div class="container-fluid" ng-controller="ProjectsCtrl"  style="background-color:#16A0D0">
	<div class="text-left" style="margin-top:20px;color:#fff">
			<a class="transition"  href="#/" style="color:#fff">
				<i class="pull-leftt fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i>
			</a>
		</div>
	<div class="row" style="padding-top:20px;color:#fff;">
		<p></p>
	</div>
	<div class="row text-center col-md-offset-1 col-md-10">
		<div class="col-sm-6 col-md-4" style="margin-bottom:10px;">
				<div class="card">
				<img src="images/portfolio.png" alt="Card image" style="width:100%;height:250px;">
				  <div class="">
					<a href="http://raziyeh.info" class="card-link" target="_blank">My Portfolio</a>
				  </div>
				</div>
		   </div>
		 <div class="col-sm-6 col-md-4" style="margin-bottom:10px;">
				<div class="card">
				<img src="images/pingle.png" alt="Card image" style="width:100%;height:250px;">
				  <div class="">
					<a href="http://pingle.co" class="card-link" target="_blank">Pingle.co</a>
				  </div>
				</div>
		   </div>
		 <div class="col-sm-6 col-md-4" style="margin-bottom:10px;">
				<div class="card">
				<img src="images/babysafe.png" alt="Card image" style="width:100%;height:250px;">
				  <div class="">
					<a href="http://http://baby-safe.herokuapp.com" class="card-link" target="_blank">Baby Safe</a>
				  </div>
				</div>
		   </div>
		 <div class="col-sm-6 col-md-4" style="margin-bottom:10px;">
				<div class="card">
				<img src="images/ractrac.png" alt="Card image" style="width:100%;height:250px;">
				  <div class="">
					<a href="https://ractrac.herokuapp.com/index.html" class="card-link" target="_blank">RacTrack</a>
				  </div>
				</div>
		   </div>
		 <div class="col-sm-6 col-md-4" style="margin-bottom:10px;">
				<div class="card">
				<img src="images/nextProject.jpg" alt="Card image" style="width:100%;height:250px;">
				  <div class="">
					<a href="#" class="card-link">Coming Soon!</a>
				  </div>
				</div>
		   </div>

	   </div>
	
	   <div class="row row-content"></div>
</div>
