<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RAZIYEH BAZARGAN</title>

    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="img/nameLogo.ico"/>
    <style>

/*----------------------------------Genaral Tags------------------------------*/

    body{
            margin: 0;
        }

    header{
        background-color: #2A3732;
        height: 50px;
        border-bottom:6px solid rgb(217, 200, 79);
    }

    footer{
        border-top: 5px solid #EFEFEF;
        background-color: #2A3732;
        height: 30px;
    }

    img{
        max-width:100px;
        max-height: 100px;
    }

/*----------------------------------IDs------------------------------*/

    #socialIcons a span{
        color:#fff;
    }
    #socialIcons a span:hover{
        color:#ec8c54;
    }

    #contactInf h6{
        color: #049DD0;
        font-family: sans-serif;
    }

         #contactInf h6 span{
            color: #111;
            font-family: sans-serif;
        }

    #about{
        margin-top:30px;
        margin-bottom: 30px;

    }

    #pdf , #coverLetter{
        color: white;
        text-decoration: none;
        text-align: center;
        background-color: #ec8c54;
    }

    #personalInf,#Portfolio,#education,#skills,#end{
         border-top: 5px solid #EFEFEF;
         margin-top:30px;
         margin-bottom: 30px;
         padding-top: 30px;
         padding-bottom: 30px;
    }

/*----------------------------------CLASSES------------------------------*/

    .media-body h4,h6,.title{
        font-family: 'Fjalla One', sans-serif;
    }

    .media-body h6, .companyName{
        color: #049DD0;
    }

    .jobTitle{
        color: #777;
        font-weight: 200;
        line-height: 10px;
    }

    .text{
        font-weight: 200;
    }

    .skillItems{
        color: #1d901d;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.18);
        font-weight: 500;
        cursor: pointer;
    }

        .skillItems:hover{
            color: #1d91d0;
            font-weight: 700;
        }
</style>
</head>
<body>
    <header>
        <div class="container">
            <div class="row row-content">
                <div class="pull-right" id="socialIcons">
                       <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/raziyehbazargan" target="_blank">
                           <span class="fa fa-linkedin fa-2x"></span>
                        </a>
                        <a class="btn btn-social-icon btn-github" href="https://github.com/Raziyehbazargan" target="_blank">
                           <span class="fa fa-github fa-2x"></span>
                        </a>
                        <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/RaziyehBazargan" target="_blank">
                           <span class="fa fa-twitter fa-2x"></span>
                        </a>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
         <div class="row row-content">
            <div class="col-sm-12" id="about">
                <div class="col-xs-6 col-sm-6 pull-left">
                    <div class="media">
                      <a class="media-left media-middle" href="#">
                        <img class="media-object img-thumbnail" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAP_AAAAJDc3MjA4OGQ2LTBhMjMtNDUyYi04NmMzLTIxMzc4NTA4MGEwYg.jpg" alt="Profile Image">
                      </a>
                      <div class="media-body media-middle">
                        <h4 class="media-heading">Raziyeh Bazargan</h4>
                        <h6>Web Developer</h6>
                      </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 pull-right" id="contactInf">
                    <h6>
                        <a class="btn btn-round btn-sm" id="pdf" href="files/Raziyeh_bazargan_CV.pdf" style="margin-bottom:3px;">Download Resume</a>
                        <!-- <a class="btn btn-round btn-sm" id="coverLetter" href="#" style="margin-bottom:3px;" disabled>Cover Letter</a> -->
                    </h6>
                    <h6>E-mail:<a href="mailto:r.bazargan@gmail.com"><span> R.bazargan@gmail.com</span></a></h6>
                    <h6>Phone: <span> (425) 598 - 5126</span></h6>
                    <h6>Address:<span> Bellevue, WA</span></h6>
                </div>
            </div>
        </div>
         <div id="resume">
             <div class="row row-content">
                <div id="personalInf">
                    <div class="col-sm-2">
                        <h4 class="title">Summary</h4>
                    </div>
                    <div class="col-sm-10">
                    <p class="text">
                        Energetic, results-driven individual with proven skills in web development using latest technologies.

                        Thorough understanding of continuous development models to contribute to the success of web development projects.
                        <br/>
                        Highly self-motivated and results-driven, fast learner, strong team player, interacting and collaborating with coworkers at all levels and strong problem solving and analytical abilities with solid documentation tendencies.
                        <br/>
                        Ability to think ahead, anticipate issues, and demonstrate decisive action planning.
                        <br/>
                        Understanding of relational databases with experience in SQL Server.
                        Client-side web development skills on HTML, CSS, JavaScript, jQuery, Bootstrap and AngularJs.
                    </p>
                    </div>
                </div>
            </div>
             <div class="row row-content">
                <div id="Portfolio">
                     <div class="col-sm-2">
                         <h4 class="title">Work History</h4>
                    </div>
                     <div class="col-sm-10">
                         <div style="margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #ddd;">
                             <p class="btn btn-primary pull-right" style="font-size:11px;">
                                 Feb 2016 - Jun 2016
                             </p>
                             <h5 class="companyName">Pingle, Seattle, WA</h5>
                             <h6 class="jobTitle">Web developer</h6>

                             <p class=text>
                                - Design responsive layouts for new website clients using:
                                 <span style="font-weight:700;">
                                     Javascript,
                                 </span>
                                 <span style="font-weight:700;">
                                     Bootstrap,
                                 </span>
                                 <span style="font-weight:700;">
                                     HTML,
                                 </span>
                                 <span style="font-weight:700;">
                                     CSS.
                                 </span>
                                <br/>
                                - Develop new user-facing features
                                <br/>
                                - Assure that all user input is validated before submitting to back-end.
                                <br/>
                                - Fix bugs and implement new features from the database to the views using:
                                 <span style="font-weight:700;">
                                     C#, Typescript, AngularJs and SQL server.
                                 </span>
                                <br/>
                                <span style="font-weight:400;">- Working with Visual studio        online and Team Foundation Version Control (TFVC).
                                 </span>
                             </p>
                        </div>

                        <div>
                             <p class="btn btn-primary pull-right" style="font-size:11px;">
                                 Sep 2008 - Sep 2015
                             </p>
                             <h5 class="companyName">Rahyab Gayaneh Gostar, Tehran, Iran.</h5>
                             <h6 class="jobTitle">Software Specialist</h6>

                             <p class=text>
                                - Gathered and analyzed customers change requests and created related ticket for development team.
                                <br/>
                                - Found the root cause for every issue, assigning it to the appropriate developer.
                                <br/>
                                - Identified problems based on the users reports.
                                <br/>
                                - Supporting Company Products
                                <br/>
                                - Analyzing new software requests from users, test, installation, support and maintenance.
                             </p>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row row-content">
                <div id="education">
                    <div class="col-sm-2">
                        <h4 class="title">Education</h4>
                    </div>
                    <div class="col-md-10">
                           <div class="row">
                             <p class="btn btn-primary pull-right" style="font-size:11px;"> Dec 2016</p>
                             <h5 class=""><span class="glyphicon glyphicon-education" style="color:#56cdf1;" aria-hidden="true"></span> Front end web development, CodeFellows, Seattle,WA </h5>
                             <p class=text>
                                 Using:
                                    <span class="btn btn-warning btn-xs">HTML</span>
                                 ,  <span class="btn btn-warning btn-xs">CSS</span>
                                 ,  <span class="btn btn-warning btn-xs">JavaScript</span>
                                 ,  <span class="btn btn-warning btn-xs">jQuery</span>
                                  to create fully-functional web apps, asynchronous programming (AJAX) and database manipulation.
                             </p>
                           </div>

                            <div class="row">
                             <p class="btn btn-primary pull-right" style="font-size:11px;">
                                 Aug 2008
                             </p>

                             <h5 class=""><span class="glyphicon glyphicon-education" style="color:#56cdf1;" aria-hidden="true"></span> Bachelor’s degree, Computer Engineering, Islamic Azad University, Iran. </h5>
                            </div>

                            <div class="row">
                             <p class="btn btn-primary pull-right" style="font-size:11px;">
                                 Sep 2006
                             </p>
                             <h5><span class="glyphicon glyphicon-education" style="color:#56cdf1;" aria-hidden="true"></span> Associate's degree, Computer Engineering, Fatemiyeh Junior  College, Iran. </h5>
                           </div>
                      </div>
                </div>
            </div>
             <div class="row row-content" id="skills">
                <div>
                    <div class="col-sm-2">
                        <h4 class="title">Skills & Strengths</h4>
                    </div>
                    <div class="col-xs-12 col-sm-3" style="line-height:10px;">
                        <P class="skillItems">Html</P>
                        <P class="skillItems">CSS</P>
                        <P class="skillItems">Bootstrap</P>
                        <P class="skillItems">Javascript</P>
                    </div>
                     <div class="col-xs-12 col-sm-3" style="line-height:10px;">
                         <P class="skillItems">jQuery</P>
                         <P class="skillItems">AngularJs</P>
                         <P class="skillItems">Typescript</P>
                         <P class="skillItems">Gulp / bower / Grunt / </P>
                    </div>
                     <div class="col-xs-12 col-sm-3" style="line-height:10px;">
                          <P class="skillItems">C# (beginner)</P>
                          <P class="skillItems">Microsoft SQL server</P>
                    </div>
                </div>
            </div>
             <div class="row row-content" id="end" style="padding-bottom:0;margin-bottom:10px;">
                <h6 class="text-center">Raziyen Bazargan</h6>
            </div>
         </div>
         <div class="row row-content hide" id="coverLetterContent" style="text-align:justify;padding:20px;">
           <hr style=""/>
           <p class="" style="margin-top:30px;">
			<h5 style="line-height:20px;">
			   Hiring Manager<br/>
			   Booking Company<br/>
			   Seattle, WA.<br/>
			</h5>

            <h6 style="padding-top:25px;padding-bottom:25px;">28<sup>th</sup> July 2016</h6>


            <h5>Application: Web Developer</h5><br/>
            <h5>Dear Hiring Manager,</h5>
            <p>
				I am writing to express my interest in the Web Developer position that is currently available with your company. I appear to be a perfect match for this role.<br/><br/>

				I am confident that I can help your company meet any challenges it faces in the future.The attached resume will provide a more complete overview of my accomplishments. However what it may not show is that I am a self motivated individual, who is able to perform well under pressure.<br/><br/>

				Currently I am looking to join an exciting and ambitious organisation such as yours, therefore I would like to arrange an interview with you so I can explain in more detail the contribution I can make to your company.
				<br/>
				<br/>
				I will make myself available at your convenience and look forward to your call to arrange a time to meet. You can reach me best at my cell: (425) 598 5126 and my email address:
				<span style="font-weight:500;">R.bazargan@gmail.com</span>.
				<br/><br/>
				I appreciate you taking the time to review my credentials and I would like to thank you for your time and consideration.
				<br/><br/>
				<br/><br/>
				<span style="font-weight:700;">Sincerely,</span><br/>
				<span style="font-weight:700;">Raziyeh Bazargan</span>
           </p>
        </div>
    </main>
    <footer></footer>

    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript">
        $(document).ready(function(){
            $('#coverLetterContent').hide();
            $('#coverLetter').on('click', function(){
            $('#resume').toggle("slow");
            $('#coverLetterContent').toggle("slow");

            $(this).text(function(i, text){
              return text === "Cover Letter" ? "Show Resume" : "Cover Letter";
      })
     })
     })

    </script> -->
</body>

</html>
